#page {
	font-family: sans-serif;
}

#page h1 {
	font-size: 36px;
}

#page h2 {
	background: rgb(149, 22, 26);
	display: inline-block;
	margin-bottom: 5px;
	color: white;
	padding: 5px;
}

#page p {
	margin-top: 5px;
	font-size: 13px;
}

#page ul, ol {
	margin-top: 5px;
	font-size: 13px;
}

#page ul li {
	list-style: inside disc;
}

#page ol li {
	list-style: decimal inside;
}