<div class="row">
	<div class="span12">
		<h1>Расписание</h1>
		<div id="m-sch">
			<div id="m-sch-cont">
				<div id="m-sch-timeline">
					<ul>
						<li>День недели</li>
						<li>5:00</li>
						<li>5:30</li>
						<li>6:00</li>
						<li>6:30</li>
						<li>7:00</li>
						<li>7:30</li>
						<li>8:00</li>
						<li>8:30</li>
						<li>9:00</li>
						<li>9:30</li>
						<li>10:00</li>
						<li>10:30</li>
						<li>11:00</li>
						<li>11:30</li>
						<li>12:00</li>
						<li>12:30</li>
						<li>13:00</li>
						<li>13:30</li>
						<li>14:00</li>
						<li>14:30</li>
						<li>15:00</li>
						<li>15:30</li>
						<li>16:00</li>
						<li>16:30</li>
						<li>17:00</li>
						<li>17:30</li>
						<li>18:00</li>
						<li>18:30</li>
						<li>19:00</li>
						<li>19:30</li>
						<li>20:00</li>
						<li>20:30</li>
						<li>21:00</li>
						<li>21:30</li>
						<li>22:00</li>
						<li>22:30</li>
						<li>23:00</li>
						<li>23:30</li>
						<li>0:00</li>
						<li>0:30</li>
						<li>1:00</li>
						<li>1:30</li>
						<li>2:00</li>
						<li>2:30</li>
						<li>3:00</li>
						<li>3:30</li>
						<li>4:00</li>
						<li>4:30</li>
					</ul>
				</div>
				
				<div id="m-sch-days">
					<ul>
						<li>Понедельник</li>
					</ul>
					<ul>
						<li>Вторник</li>
					</ul>
					<ul>
						<li>Среда</li>
					</ul>
					<ul>
						<li>Четверг</li>
					</ul>
					<ul>
						<li>Пятница</li>
					</ul>
					<ul>
						<li>Суббота</li>
					</ul>
					<ul>
						<li>Воскресенье</li>
					</ul>
				</div>
			</div>
		</div>
		
	</div>
</div>