#news {
	background: rgba(29, 29, 29, 1);
	border: 1px rgba(241, 241, 241, 1);
	padding: 10px;
	font-family: sans-serif;
}

#news h1 {
	margin-bottom: 10px;
	color: white;
}

#news li {
	position: relative;
	height: 100px;
	padding: 10px;
	background: url({{ img }}shows-bg.png) center center;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 0;
}

#news li .img {
	position: absolute;
	left: 10px;
}

#news .img img {
	height: 100px;
	width: 170px;
}

#news li .info {
	position: absolute;
	width: 350px;
	left: 190px;
}

#news li .info h3 {
	color: white;
	font-size: 28px;
}

#news li .info p {
	color: white;
	font-size: 12px;
	margin-top: 5px;
}

#news li .view {
	position : absolute;
	right : 0px;
	bottom : 0px;
}

#news li .view a {
	display: block;
	color: #AD0100;
	font-size: 20px;
	padding-top : 10px;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
	text-decoration: none;
}

#news li:last-child {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}