#video-cont {
	height : 300px;
}

#cross-menu {
	margin-left: 3px;
	overflow: hidden;
}

#cross-menu li {
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	color: white;
	float: left;
	width: 200px;
	height: 32px;
	background: #a5a3a4 url("/static_files/img/cross-gray.png") left;
	background-repeat: no-repeat;
}

#cross-menu li:first-child {
	background: #a5a3a4;
}

#cross-menu li + li {
	background-image: url("/static_files/img/cross-gray.png");
}

#cross-menu li.active {
	background-color: black;
}

#cross-menu li.active + li {
	background-image: url("/static_files/img/cross-black.png");
}

#cross-menu li:last-child {
	background-color: transparent;
}