<dl id="about-channel">
	<dt>О канале</dt>
	<dd>
		<ul>
			<li><a href="#">Персонал</a></li>
			<li><a href="#">Реклама</a></li>
			<li><a href="#">Пресса</a></li>
			<li><a href="#">Вакансии</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
	</dd>
</dl>
<dl id="aether">
	<dt>Эфир</dt>
	<dd>
		<ul>
			<li><a href="#">Информационные программы</a></li>
			<li><a href="#">Развлекательные программы</a></li>
			<li><a href="#">Спортивные трансляции</a></li>
			<li><a href="#">Сериалы</a></li>
			<li><a href="#">Новости</a></li>
		</ul>
	</dd>
</dl>
<dl id="broadcast">
	<dt>Вещание</dt>
	<dd>
		<ul>
			<li><a href="#">Карта охвата</a></li>
			<li><a href="#">Программа передач</a></li>
			<li><a href="#">Архив видео</a></li>
			<li><a href="#">Операторы</a></li>
			<li><a href="#">Подключение</a></li>
		</ul>
	</dd>
</dl>
<dl id="copyright">
	<dt>
		<a id="bottom-logo" href="#"><img src="{{ img }}logo-bottom.png"></a>
	</dt>
	<dd>
	© 2012 Телеканал 21+. Все права защищены.
	</dd>
</dl>