<link rel="stylesheet" type="text/css" href="/styles/{{ css }}" />
<link rel="stylesheet" type="text/css" href="{{ static }}flowplayer/flowstyle.css">
<script type="text/javascript">
	var shows = {{ shows|safe }};
	var programs = {{ programs|safe }}
</script>
<script type="text/javascript" src="{{ static }}jquery.js" /></script>
<script type="text/javascript" src="/scripts/{{ js }}" /></script>
<script type="text/javascript" src="{{ static }}flowplayer/flowplayer.js"></script>
<script type="text/javascript" src="{{ static }}jquery.slider.js"></script>
<link href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700&amp;subset=cyrillic,latin" rel="stylesheet" type="text/css">