#top-menu {
	background: url({{ img }}top-menu.png) no-repeat top right;
	background-position: 2px;
	position: absolute;
	top: 0;
	right: 0;
	width: 820px;
	height: 51px;
}

{% include 'site/header/top-menu.css' %}

#logo {
	display: block;
	width: 200px;
}

#top-banner {
	background-color: #999;
	width: 800px;
	height: 90px;
	position: absolute;
	top: 50px;
	right: 0;
}

#schedule {
	height: 32px;
	position: absolute;
	top: 148px;
	width: 996px;
}

{% include 'site/header/schedule.css' %}