#top-menu > ul {
	float: right;
	padding-right: 140px;
	margin-top: 7px;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif!important;
	font-weight: bold;
	font-size: 20px!important;
}

#top-menu > ul li {
	color: white;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	border-left: 2px solid white;
	padding-top: 3px;
}

#top-menu > ul li:first-child {
	border: 0;
}

#top-menu li a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

#top-menu li a:hover {
	color: #ad0100;
}

#top-location-form {
	float: right;
	position: relative;
	width: 200px;
	margin-top: 7px;
	height: 40px;
}

#top-location-form select {
	border-radius : 0px;
	float : left;
	width : 120px;
}

#change-location {
	cursor : pointer;
	float : right;
	font-family: 'PT Sans Narrow', sans-serif!important;
	font-weight : bold;
	color : #FFFFFF;
	margin-right : 10px;
	margin-top : 3px;
}