{% load url from future %}

<div id="top-location-form">
	<form id="location-form" action="{% url 'geoip_change_location' %}" method="POST">
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ pageurl }}">
		<select name="location_id">
			{% for r in regions %}
				<option value="{{ r.id }}"{% if r.id == region.id %} selected="selected"{% endif %}>{{ r.name }}</option>
			{% endfor %}
		</select>
		<div id="change-location">Изменить</div>
	</form>
</div>

<ul>
	<li><a href="/">Главная</a></li>
	<li><a href="/shows/">Шоу</a></li>
	<li><a href="/archive/">Видео</a></li>
	<li><a href="/news/">Новости</a></li>
	<li><a href="/schedule/">Программа</a></li>
</ul>