{% load episode_extras %}
{% load cache %}

{% include 'site/content/shows/episodes/watch.html' %}


{% cache 300 show.id s %}
<div class="span12">
	<h1>{{ show.title }}: {{ sectiontitle }}</h1>
</div>
<div id="episodes-list">
	<div class="row">
		{% for ep in eps %}
			<div class = "ep">
				<a href="{{ ep|link }}">
					<img src="{{ ep|screenshot }}">
					<div class="title">{{ ep.title }}</div>
					<div class="legend">
						{{ ep.description }}
					</div>
				</a>
			</div>
		{% cycle '' '' '</div><div class="row">' %}
		{% endfor %}
	</div>
</div>
{% endcache %}