#show > img {
	display: block;
	border: 1px solid #ccc;
	padding: 1px;
	width: 100%;
}

.show h1 {
	font-size: 36px;
}

.show h2 {
	background: rgb(149, 22, 26);
	display: inline-block;
	margin-bottom: 5px;
	color: white;
	padding: 5px;
}

#show > p {
	margin-top: 10px;
	font-style: italic;
	padding-left: 5px;
	border-left: 5px solid rgb(149, 22, 26);
}

#show {
	overflow: hidden;
}

#ep-list {
	padding: 5px;
	color: white;
}

#ep-list img {
	width: 100px;
}

#ep-list li {
	font-family: sans-serif;
	overflow: hidden;
	border-bottom: 1px solid #333;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 13px;
}

#ep-list li:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

#ep-list li > div {
	width: 360px;
	float: right;
	
}

#show-bg {
	background: url({{ img }}show-eps-bg.png) repeat-y top right;
}