{% load episode_extras %}
{% load ulogin_tags %}

<div class="span6 show" id="show">
	{% include 'site/content/shows/show/promo.html' %}
	<h1>{{ show.title }}</h1>
	<h2>{{ show.schedule }}</h2>
	<img src="{{ media }}{{ show.illustration }}">
	{% include 'site/content/shows/show/shots.html' %}
	{% include 'site/content/shows/show/meta.html' %}
	<p>{{ show.description }}</p>
	{% include 'site/content/shows/show/articles.html' %}
	{% include 'site/content/shows/show/comments.html' %}
</div>
<div class="span6 show" style="background: #444;">
	{% if videos.promo %}
		<div class="watch-list">
			<h2>Промо</h2>
			<div class="episodes-list-scroll">
				<ul>
					{% for ep in videos.promo %}
						<li>
							<a href="{{ ep|link }}"><img src="{{ ep|screenshot }}"></a>
							<div>
								<h3>{{ ep.title }}</h3>
								<p>{{ ep.description }}</p>
							</div>
						</li>
					{% endfor %}
				</ul>
			</dvi>
		</div>
	{% endif %}
	{% if videos.issues %}
		<div class="watch-list">
			<h2>Выпуски</h2>
			<div class="episodes-list-scroll">
				<ul>
					{% for ep in videos.issues %}
						<li>
							<a href="{{ ep|link }}"><img src="{{ ep|screenshot }}"></a>
							<div>
								<h3>{{ ep.title }}</h3>
								<p>{{ ep.description }}</p>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="link">
				<a href="issues/">Все выпуски..</a>
			</div>
		</div>
	{% endif %}
	
	{% if videos.episodes %}
		<div class="watch-list">
			<h2>Эпизоды</h2>
			<div class="episodes-list-scroll">
				<ul>
					{% for ep in videos.episodes %}
						<li>
							<a href="{{ ep|link }}"><img src="{{ ep|screenshot }}"></a>
							<div>
								<h3>{{ ep.title }}</h3>
								<p>{{ ep.description }}</p>
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="link">
				<a href="episodes/">Все эпизоды..</a>
			</div>
		</div>
	{% endif %}
</div>