.scroll-column {
	background-color: rgb(55, 55, 55);
	width: 15px;
}

.scroll-control {
	background-color: rgb(112, 112, 112);
}

.scroll-up,
.scroll-down {
	background-color: #333;
}

#show > img {
	display: block;
	border: 1px solid #ccc;
	padding: 1px;
	width: 474px;
}

.show h1 {
	font-size: 36px;
}

.show h2 {
	background: rgb(149, 22, 26);
	display: inline-block;
	margin-bottom: 5px;
	color: white;
	padding: 5px;
}

#show > p {
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 13px;
	padding-left: 5px;
	border-left: 5px solid rgb(149, 22, 26);
	margin-bottom: 10px;
}

#show {
	overflow: hidden;
}

.watch-list ul{
	padding: 5px 5px 5px 0;
	color: white;
	background-color: #333;
}

.watch-list img {
	width: 100px;
}

.watch-list li > a {
	display: block;
	width: 100px;
	float: left;
}

.watch-list li {
	font-family: sans-serif;
	overflow: hidden;
	border-bottom: 1px solid #333;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 13px;
}

.watch-list li:last-child {
	padding-bottom: 0;
	border-bottom: 0;
}

.watch-list li > div {
	padding-left: 5px;
	width: 340px;
	float: left;
}

.watch-list .link {
	text-align: right;
}

.watch-list .link a {	
	padding: 5px;
	color: white !important;
}

.watch-list .link a:hover {
	text-decoration: none !important;
}

.watch-list.white p,
.watch-list.white h3{
	color: black;
}

.watch-list.white li {
	border-bottom-color: #ccc;
}

#show-bg {
	background: url({{ img }}show-eps-bg.png) repeat-y top right;
}

{% include 'site/content/shows/show/comments.css' %}
{% include 'site/content/shows/show/meta.css' %}
{% include 'site/content/shows/show/shots.css' %}
{% include 'site/content/shows/show/articles.css' %}
{% include 'site/content/shows/show/promo.css' %}