#video-cont {
	height : 300px;
}

#video-cont a:hover {
	text-decoration: none !important;
}

#cross-menu {
	overflow: hidden;
}

#cross-menu li {
	cursor: pointer;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
	font-weight: bold;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	color: white;
	float: left;
	width: 200px;
	height: 32px;
	background: #a5a3a4 url("/static_files/img/cross-gray.png") left;
	background-repeat: no-repeat;
}

#cross-menu li:first-child {
	background: #a5a3a4;
}

#cross-menu li + li {
	background-image: url("/static_files/img/cross-gray.png");
}

#cross-menu li.red {
	background-color: rgb(180, 55, 52);
}

#cross-menu li.red + li {
	background-image: url("/static_files/img/cross-red.png");
}

#cross-menu li.active {
	background-color: black;
}

#cross-menu li.active + li {
	background-image: url("/static_files/img/cross-black.png");
}

#cross-menu li:last-child {
	background-color: transparent;
}

.central-slider {
	position: relative;
	overflow : hidden;
		font-family: sans-serif;
}

.slider-content {
		height: 300px;
        margin-right : 200px;
		padding-left: 497px;
}

.slider-image {
        width : 497px;
        height : 300px;
		float : left;
		z-index : 1;
}

.slider-text {
		padding-left : 497px;
        height : 300px;
}

.slider-show {
        margin-bottom : 5px;
        width : 200px;
		height: 56px;
}

.slider-show img {
        padding-left : 5px;
        width : 93px;
        height : 56px;
}

.slider-show-title {
        color : rgb(255, 255, 255);
        width : 97px;
        height : 56px;
		float : right;
        padding-left : 5px;
}

.slider-list {
		background : rgb(255, 255, 255);
        position: absolute;
		right: 0;
		top: 0;
		z-index : 1;
}

.slider-title {
        color : rgb(255, 255, 255);
        font-size : 23px;
        padding-top : 5px;
        padding-left : 5px;
		text-transform: uppercase;
}

.slider-schedule {
        color : rgb(178, 14, 14);
        font-size : 16px;
        padding-top : 5px;
        font-weight : bold;
        padding-left : 5px;
		text-transform: uppercase;
}

.slider-description {
        color : rgb(255, 255, 255);
        padding-top : 5px;
        padding-left : 5px;
}