<ul class="breadcrumb">
	<li><a href="/panel/">Панель управления 21ch.ru</a> <span class="divider">/</span></li>
	{% if s.0 == 'index' %}
		<li class="active">Статистика</li>
	{% endif %}
	{% if s.0 == 'settings' %}
		<li><a href="/panel/settings/">Общие настройки</a> <span class="divider">/</span></li>
		{% if s.1 == 'list' %}
			<li class="active">Список настроек</li>
		{% endif %}
		{% if s.1 == 'edit' %}
			<li class="active">Редактировать настройки</li>
		{% endif %}
	{% endif %}
	{% if s.0 == 'news'%}
		<li><a href="/panel/news/">Новости</a> <span class="divider">/</span></li>
		{% if s.1 == 'list' %}
			<li class="active">Список новостей</li>
		{% endif %}
		{% if s.1 == 'add' %}
			<li class="active">Добавить новость</li>
		{% endif %}
		{% if s.1 == 'edit' %}
			<li class="active">Редактировать новость</li>
		{% endif %}
	{% endif %}
	
	{% if s.0 == 'episodes'%}
		<li><a href="/panel/episodes/">Эпизоды</a> <span class="divider">/</span></li>
		{% if s.1 == 'list' %}
			<li class="active">Список эпизодов</li>
		{% endif %}
		{% if s.1 == 'add' %}
			<li class="active">Добавить эпизод</li>
		{% endif %}
		{% if s.1 == 'edit' %}
			<li class="active">Редактировать эпизод</li>
		{% endif %}
	{% endif %}
	
	{% if s.0 == 'archive'%}
		<li><a href="/panel/archive/">Видеоархив</a> <span class="divider">/</span></li>
		{% if s.1 == 'list' %}
			<li class="active">Список категорий</li>
		{% endif %}
		{% if s.1 == 'add' %}
			<li class="active">Добавить категорию</li>
		{% endif %}
		{% if s.1 == 'edit' %}
			<li class="active">Редактировать категорию</li>
		{% endif %}
	{% endif %}
	
	{% if s.0 == 'shows'%}
		<li><a href="/panel/shows/">Шоу</a> <span class="divider">/</span></li>
		{% if s.1 == 'list' %}
			<li class="active">Список шоу</li>
		{% endif %}
		{% if s.1 == 'add' %}
			<li class="active">Добавить шоу</li>
		{% endif %}
		{% if s.1 == 'edit' %}
			<li class="active">Редактировать шоу</li>
		{% endif %}
	{% endif %}
	
	{% if s.0 == 'schedule' %}
		<li><a href="/panel/schedule/">Расписание</a> <span class="divider">/</span></li>
		{% if s.1 == 'list' %}
			<li class="active">Список программ</li>
		{% endif %}
		{% if s.1 == 'add' %}
			<li class="active">Добавить программу</li>
		{% endif %}
		{% if s.1 == 'edit' %}
			<li class="active">Редактировать программу</li>
		{% endif %}
	{% endif %}

	{% if s.0 == 'pages' %}
		<li><a href="/panel/pages/">Страницы</a> <span class="divider">/</span></li>
		{% if s.1 == 'list' %}
			<li class="active">Список страниц</li>
		{% endif %}
		{% if s.1 == 'add' %}
			<li class="active">Добавить страницу</li>
		{% endif %}
		{% if s.1 == 'edit' %}
			<li class="active">Редактировать страницу</li>
		{% endif %}
	{% endif %}
	
</ul>
