{% if s.0 == 'index' %}
	{% include 'panel/content/index.html' %}
{% endif %}

{% if s.0 == 'settings' %}
	{% if s.1 == 'list' %}
		{% include 'panel/content/settings-list.html' %}
	{% endif %}
	{% if s.1 == 'edit' %}
		{% include 'panel/content/settings-edit.html' %}
	{% endif %}
{% endif %}
{% if s.0 == 'news' %}
	
	{% if s.1 == 'delete-check' %}
		{% include 'panel/content/news-delete.html' %}
	{% endif %}

	{% if s.1 == 'list' %}
		{% include 'panel/content/news-list.html' %}
	{% endif %}
	
	{% if s.1 == 'edit' %}
		{% include 'panel/content/news-edit.html' %}
	{% endif %}
	
	{% if s.1 == 'add' %}
		{% include 'panel/content/news-add.html' %}
	{% endif %}
{%  endif %}

{% if s.0 == 'episodes' %}
	{% if s.1 == 'delete-check' %}
		{% include 'panel/content/episodes-delete.html' %}
	{% endif %}
	{% if s.1 == 'list' %}
		{% include 'panel/content/episodes-list.html' %}
	{% endif %}
	{% if s.1 == 'edit' %}
		{% include 'panel/content/episodes-edit.html' %}
	{% endif %}
	{% if s.1 == 'add' %}
		{% include 'panel/content/episodes-add.html' %}
	{% endif %}
{% endif %}
{% if s.0 == 'shows' %}

	{% if s.1 == "list-meta" %}
		{% include "panel/content/shows-list-meta.html" %}
	{% endif %}
	
	{% if s.1 == "add-meta" %}
		{% include "panel/content/shows-add-meta.html" %}
	{% endif %}
	
	{% if s.1 == "edit-meta" %}
		{% include "panel/content/shows-edit-meta.html" %}
	{% endif %}
	
	{% if s.1 == "delete-meta" %}
		{% include "panel/content/shows-delete-meta.html" %}
	{% endif %}


	{% if s.1 == "delete-shot" %}
		{% include "panel/content/shows-delete-shot.html" %}
	{% endif %}

	{% if s.1 == "list-shots" %}
		{% include "panel/content/shows-list-shots.html" %}
	{% endif %}
	
	{% if s.1 == "add-shot" %}
		{% include "panel/content/shows-add-shot.html" %}
	{% endif %}
	
	{% if s.1 == "edit-shot" %}
		{% include "panel/content/shows-edit-shot.html" %}
	{% endif %}
	
	{% if s.1 == "delete-article" %}
		{% include "panel/content/shows-delete-article.html" %}
	{% endif %}
	
	{% if s.1 == "list-articles" %}
		{% include "panel/content/shows-list-articles.html" %}
	{% endif %}
	
	{% if s.1 == "add-article" %}
		{% include "panel/content/shows-add-article.html" %}
	{% endif %}
	
	{% if s.1 == "edit-article" %}
		{% include "panel/content/shows-edit-article.html" %}
	{% endif %}

	{% if s.1 == 'delete-check' %}
		{% include 'panel/content/shows-delete.html' %}
	{% endif %}

	{% if s.1 == 'list' %}
		{% include 'panel/content/shows-list.html' %}
	{% endif %}
	{% if s.1 == 'edit' %}
		{% include 'panel/content/shows-edit.html' %}
	{% endif %}
	{% if s.1 == 'add' %}
		{% include 'panel/content/shows-add.html' %}
	{% endif %}
{% endif %}

{% if s.0 == 'archive' %}
	{% if s.1 == 'delete-check' %}
		{% include 'panel/content/archives-delete.html' %}
	{% endif %}
	{% if s.1 == 'list' %}
		{% include 'panel/content/archives-list.html' %}
	{% endif %}
	{% if s.1 == 'edit' %}
		{% include 'panel/content/archives-edit.html' %}
	{% endif %}
	{% if s.1 == 'add' %}
		{% include 'panel/content/archives-add.html' %}
	{% endif %}
{% endif %}

{% if s.0 == 'schedule' %}
	{% if s.1 == 'delete-check' %}
		{% include 'panel/content/schedule-delete.html' %}
	{% endif %}
	{% if s.1 == 'list' %}
		{% include 'panel/content/schedule-list.html' %}
	{% endif %}
	{% if s.1 == 'add' %}
		{% include 'panel/content/schedule-add.html' %}
	{% endif %}
	{% if s.1 == 'edit' %}
		{% include 'panel/content/schedule-edit.html' %}
	{% endif %}
{% endif %}

{% if s.0 == 'pages' %}
	{% if s.1 == 'delete-check' %}
		{% include 'panel/content/pages/delete.html' %}
	{% endif %}
	{% if s.1 == 'list' %}
		{% include 'panel/content/pages/list.html' %}
	{% endif %}
	{% if s.1 == 'add' %}
		{% include 'panel/content/pages/add.html' %}
	{% endif %}
	{% if s.1 == 'edit' %}
		{% include 'panel/content/pages/edit.html' %}
	{% endif %}
{% endif %}