{% if s.0 == 'news' %}
	{% if s.1 == 'list' %}
		{% include 'panel/content/news-list.html' %}
	{% endif %}
	
	{% if s.1 == 'edit' %}
		{% include 'panel/content/news-edit.html' %}
	{% endif %}
	
	{% if s.1 == 'add' %}
		{% include 'panel/content/news-add.html' %}
	{% endif %}
{%  endif %}

{% if s.0 == 'episodes' %}
	{% if s.1 == 'list' %}
		{% include 'panel/content/episodes-list.html' %}
	{% endif %}
	{% if s.1 == 'edit' %}
		{% include 'panel/content/episodes-edit.html' %}
	{% endif %}
	{% if s.1 == 'add' %}
		{% include 'panel/content/episodes-add.html' %}
	{% endif %}
{% endif %}
{% if s.0 == 'shows' %}
	{% if s.1 == 'list' %}
		{% include 'panel/content/shows-list.html' %}
	{% endif %}
	{% if s.1 == 'edit' %}
		{% include 'panel/content/shows-edit.html' %}
	{% endif %}
	{% if s.1 == 'add' %}
		{% include 'panel/content/shows-add.html' %}
	{% endif %}
{% endif %}
{% if s.0 == 'archive' %}
	{% if s.1 == 'list' %}
		{% include 'panel/content/archives-list.html' %}
	{% endif %}
	{% if s.1 == 'edit' %}
		{% include 'panel/content/archives-edit.html' %}
	{% endif %}
	{% if s.1 == 'add' %}
		{% include 'panel/content/archives-add.html' %}
	{% endif %}
{% endif %}