<div class="well" style="padding: 8px 0;">
	<ul class="nav nav-list">
		<li class="nav-header">Действия</li>
		
		{% if s.0 == "news" or s.0 == 'episodes' or s.0 == 'archive' or s.0 == 'shows' or s.0 == 'schedule' or s.0 == 'pages' %}
			{% if s.1 == "list" or s.1 == 'add'%}
				<li{% if s.1 == 'list' %} class="active" {% endif %}><a href="/panel/{{ s.0 }}/list/"><i class="{% if s.1 == 'list' %}icon-white {% endif %}icon-list"></i>Список
					{% if s.0 == 'news' %}новостей{% endif %}
					{% if s.0 == 'archive' %}категорий{% endif %}
					{% if s.0 == 'shows' %}шоу{% endif %}
					{% if s.0 == 'episodes' %}эпизодов{% endif %}
					{% if s.0 == 'schedule' %}программ{% endif %}
					{% if s.0 == 'pages' %}страниц{% endif %}
					</a></li>
				<li{% if s.1 == 'add' %} class="active" {% endif %}><a href="/panel/{{ s.0 }}/add/"><i class="{% if s.1 == 'add' %}icon-white {% endif %}icon-file"></i>Добавить
					{% if s.0 == 'news' %}новость{% endif %}
					{% if s.0 == 'archive' %}категорию{% endif %}
					{% if s.0 == 'shows' %}шоу{% endif %}
					{% if s.0 == 'episodes' %}эпизод{% endif %}
					{% if s.0 == 'schedule' %}программу{% endif %}
					{% if s.0 == 'schedule' %}страницу{% endif %}
					</a></li>
			{% endif %}
		{% endif %}
		{% if s.0 == "shows" %}
			{% if s.1 == "edit" or s.1 == "edit-shot" or s.1 == "edit-meta" or s.1 == "edit-article" or s.1 == "list-shots" or s.1 == "add-shot" or s.1 == "list-articles" or s.1 == "add-article" or s.1 == "list-meta" or s.1 == "add-meta" %}
				<li{% if s.1 == "edit" %} class="active"{% endif %}><a href="/panel/shows/edit/{{ show.id }}/"><i class="{% if s.1 == "edit" %}icon-white {% endif %}icon-file"></i>Редактировать шоу</a></li>
				<li{% if s.1 == "list-shots" %} class="active"{% endif %}><a href="/panel/shows/list-shots/{{ show.id }}/"><i class="{% if s.1 == "list-shots" %}icon-white {% endif %}icon-list"></i>Список кадров</a></li>
				<li{% if s.1 == "add-shot" %} class="active"{% endif %}><a href="/panel/shows/add-shot/{{ show.id }}/"><i class="{% if s.1 == "add-shot" %}icon-white {% endif %}icon-file"></i>Добавить кадр</a></li>
				<li{% if s.1 == "list-articles" %} class="active"{% endif %}><a href="/panel/shows/list-articles/{{ show.id }}/"><i class="{% if s.1 == "list-articles" %}icon-white {% endif %}icon-list"></i>Список рецензий и статей</a></li>
				<li{% if s.1 == "add-article" %} class="active"{% endif %}><a href="/panel/shows/add-article/{{ show.id }}/"><i class="{% if s.1 == "add-article" %}icon-white {% endif %}icon-file"></i>Добавить резенцию или статью</a></li>
				<li{% if s.1 == "list-meta" %} class="active"{% endif %}><a href="/panel/shows/list-meta/{{ show.id }}/"><i class="{% if s.1 == "list-meta" %}icon-white {% endif %}icon-list"></i>Список мета-тегов</a></li>
				<li{% if s.1 == "add-meta" %} class="active"{% endif %}><a href="/panel/shows/add-meta/{{ show.id }}/"><i class="{% if s.1 == "add-meta" %}icon-white {% endif %}icon-file"></i>Добавить мета-тег</a></li>
			{% endif %}
		{% endif %}
	</ul>
</div>