root_dir = '/Users/gasya/Projects/21channel.ru/'

default_db = {
	'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
	'NAME': '21ch',                      # Or path to database file if using sqlite3.
	'USER': '21ch',                      # Not used with sqlite3.
	'PASSWORD': 'password123',                  # Not used with sqlite3.
	'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
	'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
	'OPTIONS': {
		"init_command": "SET foreign_key_checks = 0;"
	}
}