{% if shots %}

	<script type="text/javascript">
		var shotsurls = [];
		{% for shot in shots %}
			shotsurls.push("{{ media }}{{ shot.shot_big }}");
		{% endfor %}
	</script>

	<div id="shots">
		<div class="imgholder">
			{% for shot in shots %}
				<input type="hidden" name="{{ media }}{{ shot.shot_small }}" value="{{ media }}{{ shot.shot_big }}">
			{% endfor %}
			<div id="shots-prev">
			</div>
			<div id="shots-slider">
				<div id="shots-cont" style="width: {{ shots_width }}px;">
					{% for shot in shots %}
						<img src="{{ media }}{{ shot.shot_small }}">
					{% endfor %}
				</div>
			</div>
			<div id="shots-next">
			</div>
		</div>
		<div class="hint">Всего кадров: {{ shots_count }}</div>
	</div>
{% endif %}