<form class="form-horizontal" action="/panel/episodes/add/send/" method="POST">
{% csrf_token %}
	<legend>Добавление эпизода</legend>
	<fieldset>
		<input type="hidden" name="redirect_good_url" value="/panel/episodes/list/">
		<input type="hidden" name="redirect_bad_url" value="/panel/episodes/add/">
		<div class="control-group{% if fs.errors.title %} error{% endif %}">
			<label class="control-label">Заголовок</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="title" value="{{ fs.values.title }}">
			</div>
		</div>
		<div class="control-group{% if fs.errors.description %} error{% endif %}">
			<label class="control-label">Описание</label>
			<div class="controls">
				<textarea class="input-xlarge" name="description" style="height: 80px;">{{ fs.values.description }}</textarea>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">Тип</label>
			<div class="controls">
				<select name="episodetype">
					<option value="Episode">Эпизод</option>
					<option value="Issue"{% if fs.values.episodetype == "Issue" %} selected="selected"{% endif %}>Выпуск</option>
					<option value="Promo"{% if fs.values.episodetype == "Promo" %} selected="selected"{% endif %}>Промо</option>
				</select>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">Шоу</label>
			<div class="controls">
				<select name="showid">
					<option value="-1"></option>
					{% for show in shows %}
						<option value="{{ show.id }}">{{ show.title }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="control-group{% if fs.errors.source %} error{% endif %}">
			<label class="control-label">Тип видео</label>
			<div class="controls">
				<select name="source">
					<option value=""{% if fs == None or fs.values.source == "" %} selected="selected"{% endif %}></option>
					<option value="YouTube"{% if fs.values.source == "YouTube" %} selected="selected"{% endif %}>YouTube</option>
				</select>
			</div>
		</div>
		<div class="control-group{% if fs.errors.code %} error{% endif %}">
			<label class="control-label">Код видео</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="code" value="{{ fs.values.code }}">
			</div>
		</div>
	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Добавить</button>
	</div>
</form>