<table class="table table-striped">
	<thead>
		<tr>
			<th>Заголовок</th>
			<th>Описание</th>
			<th>Тип</th>
			<th>Шоу</th>
			<th>Действия</th>
		</tr>
	</thead>
	<tbody>
		<div class="pagination">
			<ul>
				<li{% if page == 1 %} class="active"{% endif %}><a href="/panel/episodes/list/?page=1">1</a></li>
				{% if prevpage > 2 %}
					<li><a href="#">...</a></li>
				{% endif %}
				{%  if prevpage > 1 %}
					<li><a href="/panel/episodes/list/?page={{ prevpage }}">{{ prevpage }}</a></li>
				{% endif %}
				{% if page > 1 and page < lastpage %}
					<li class="active"><a href="#">{{ page }}</a></li>
				{% endif %}
				{% if nextpage < lastpage %}
					<li><a href="/panel/episodes/list/?page={{ nextpage }}">{{ nextpage }}</a></li>
				{% endif %}
				{% if nextpage < lastpage2 %}
					<li><a href="#">...</a></li>
				{% endif %}
				{% if lastpage > 1 %}
					<li{% if page == lastpage %} class="active"{% endif %}><a href="/panel/episodes/list/?page={{ lastpage }}">{{ lastpage }}</a></li>
				{% endif %}
			</ul>
		</div>
		{% for m in episodes %}
			<tr>
				<td>{{ m.title }}</td>
				<td>{{ m.description }}</td>
				<td>
					{% if m.episodetype == "E" %}
						Эпизод
					{% endif %}
					{% if m.episodetype == "I" %}
						Выпуск
					{% endif %}
					{% if m.episodetype == "P" %}
						Промо
					{% endif %}
				</td>
				<td>
					{% if m.show != None %}
						<a href="/panel/shows/edit/{{ m.show.id }}/">{{ m.show.title }}</a>
					{% else %}
						-
					{% endif %}
				</td>
				<td style="width: 200px;">
					<a href="/panel/episodes/edit/{{ m.id }}/" class="btn">Редактировать</a>
					<a href="/panel/episodes/add/?copyfrom={{ m.id }}" class="btn">Копировать</a>
					<a href="/panel/episodes/delete-check/?episodeid={{ m.id }}&redirect_url=/panel/episodes/list/" class="btn btn-danger">Удалить</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>