<form class="form-horizontal" action="/panel/news/edit/send/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<legend>Редактирование новости</legend>
	<fieldset>
		<input type="hidden" name="newsid" value="{{ news_item.id }}">
		<input type="hidden" name="redirect_good_url" value="/panel/news/edit/{{ news_item.id }}/">
		<input type="hidden" name="redirect_bad_url" value="/panel/news/edit/{{ news_item.id }}/">
		<div class="control-group">
			<label class="control-label">Заголовок</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="title" value="{{ news_item.title }}">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label">Анонс</label>
			<div class="controls">
				<textarea class="input-xlarge" name="preview" style="height: 80px;">{{ news_item.preview }}</textarea>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label">Полный текст</label>
			<div class="controls">
				<textarea class="input-xlarge" name="text" style="height:190px;">{{ news_item.text }}</textarea>
			</div>
		</div>
		
		
		<div class="control-group">
			<label class="control-label">Изображение</label>
			<div class="controls">
				<div class="thumbnail" style="display: inline-block;"><img src="/media_files/{{ news_item.image }}"></div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<label class="radio"><input type="radio" name="image_change" value="no" checked>Оставить прежнее</label>
				<label class="radio"><input type="radio" name="image_change" value="delete">Удалить</label>
				<label class="radio"><input type="radio" name="image_change" value="new_image">Загрузить новое</label>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function () {
				$("input[type=radio]").change(function() {
					if ($(this).val() == "new_image") {
						$("#new-image").fadeIn();
					} else {
						$("#new-image").fadeOut();
					}
				});
			});
		</script>
		<div class="control-group" id="new-image" style="display: none;">
			<label class="control-label">Новое изображение</label>
			<div class="controls">
				<input type="file" name="new_image">
			</div>
		</div>
	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Редактировать</button>
	</div>
</form>