{% if region != None %}
	<h2>Расписание для {{ region.name }}</h2>
	{% for day in week %}
		<legend>{{ day.title }}</legend>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Заголовок</th>
					<th>Описание</th>
					<th>Время начала</th>
					<th>Время конца</th>
					<th>Действия</th>
				</tr>
			</thead>
			<tbody>
				{% for program in day.programs %}
					<tr>
						<td>{{ program.title }}</td>
						<td>{{ program.description }}</td>
						<td>{{ program.starttime }}</td>
						<td>{{ program.finishtime }}</td>
						<td style="width: 200px;">
							<a href="/panel/schedule/local-edit/{{ program.id }}/" class="btn">Редактировать</a>
							<a href="/panel/schedule/delete-check/?programid={{ program.id }}&redirect_url=/panel/schedule/local/?regionid={{ region.id }}" class="btn btn-danger">Удалить</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endfor %}
{% else %}
	<form class="form-horizontal" action="/panel/schedule/local/" method="GET">
		<legend>Выберите регион</legend>
		<fieldset>
			<div class="control-group">
				<label class="control-label">Регион</label>
				<div class="controls">
					<select name="regionid">
						<option value="-1"></option>
						{% for r in regions %}
							<option value="{{ r.id }}">{{ r.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</fieldset>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Выбрать</button>
		</div>
	</form>
{% endif %}
