<h2>Баннер шоу</h2>
<table class="table table-bordered table-striped" style="width: 300px;">
	<thead>
		<tr>
			<th>Номер слайда</th><th>Шоу</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td><td>
				{% if settings.show1 != None %}
					{{ settings.show1.title }}
				{% else %}
					-
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>2</td><td>
				{% if settings.show2 != None %}
					{{ settings.show2.title }}
				{% else %}
					-
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>3</td><td>
				{% if settings.show3 != None %}
					{{ settings.show3.title }}
				{% else %}
					-
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>4</td><td>
				{% if settings.show4 != None %}
					{{ settings.show4.title }}
				{% else %}
					-
				{% endif %}
			</td>
		</tr>
		<tr>
			<td>5</td><td>
				{% if settings.show5 != None %}
					{{ settings.show5.title }}
				{% else %}
					-
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>
<a href="/panel/settings/edit/" class="btn">Редактировать</a>

<h2>Стандартный фон</h2>
<img src="/media_files/{{ settings.background }}" class="thumbnail" style="width:50%;">
<a href="/panel/settings/edit/" class="btn" style="margin-top: 10px;">Редактировать</a>

		
