<form class="form-horizontal" action="/panel/shows/edit/send/" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<fieldset>
		<legend>Редактирование шоу</legend>
		<input type="hidden" name="showid" value="{{ show.id }}">
		<input type="hidden" name="redirect_good_url" value="/panel/shows/edit/{{ show.id }}/">
		<input type="hidden" name="redirect_bad_url" value="/panel/shows/edit/{{ show.id }}/">
		<div class="control-group{% if fs.errors.title %} error{% endif %}">
			<label class="control-label">Заголовок</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="title" value="{% if fs == None %}{{ show.title }}{% else %}{{ fs.values.title }}{% endif %}">
			</div>
		</div>
		<div class="control-group{% if fs.errors.description %} error{% endif %}">
			<label class="control-label">Описание</label>
			<div class="controls">
				<textarea class="input-xlarge" name="description" style="height: 80px;">{% if fs == None %}{{ show.description }}{% else %}{{ fs.values.description }}{% endif %}</textarea>
			</div>
		</div>
		
		<div class="control-group{% if fs.errors.schedule %} error{% endif %}">
			<label class="control-label">Расписание</label>
			<div class="controls">
				<input type="text" class="input-xlarge" name="schedule" value="{% if fs == None %}{{ show.schedule }}{% else %}{{ sf.values.schedule }}{% endif %}">
			</div>
		</div>
		
		
		<div class="control-group">
			<label class="control-label">Задний фон</label>
			<div class="controls">
				<div class="thumbnail"><img src="/media_files/{{ show.background }}"></div>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<label class="radio"><input type="radio" name="background_change" value="no"{% if fs == None or fs.values.background_change == "no" %} checked{% endif %}>Оставить прежний</label>
				<label class="radio"><input type="radio" name="background_change" value="delete"{% if fs.values.background_change == "delete" %} checked{% endif %}>Удалить</label>
				<label class="radio"><input type="radio" name="background_change" value="new_background"{% if fs.values.background_change == "new_background" %} checked{% endif %}>Загрузить новый</label>
			</div>
		</div>
		<script type="text/javascript">
			$(document).ready(function () {
				$("input[type=radio]").change(function() {
					if ($(this).val() == "new_background") {
						$("#new-background").fadeIn();
					} else {
						$("#new-background").fadeOut();
					}
				});
			});
		</script>
		<div class="control-group {% if fs.errors.new_background %} error{% endif %}" id="new-background"{% if fs == None or not fs.values.background_change == "new_background" %} style="display: none;"{% endif %}>
			<label class="control-label">Новый фон</label>
			<div class="controls">
				<input type="file" name="new_background">
			</div>
		</div>
	</fieldset>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">Редактировать</button>
	</div>
</form>